[submodule "fuckingsubmod"]
	path = fuckingsubmod
	url = https://github.com/logicOnAbstractions/fuckingsubmod.git
[submodule "sub_submodule_demo"]
	path = sub_submodule_demo
	url = https://github.com/logicOnAbstractions/sub_submodule_demo.git
